.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../images/papyrus.png");
}

.search-form {
  margin-left: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  height: 15px;
}

.fav-button {
  position: absolute;
  right: 20px;
}
