.title {
  margin: 0;
  text-align: center;
}

.description {
  text-align: center;
  margin-top: 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
